.container {
  margin: 100px auto;
  padding: 40px;
  max-width: 300px;
  border-radius: 5px;
  background-color: #f2faea;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px 5px;
}
.form {
  color: rgb(5, 5, 5);
  padding: 3px;
  font-size: 18px;
  transition: all 0.3s;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
