.forma {
  display: block;
  margin-left: 60px;
}
.btnsubmit {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(115, 134, 134);
  margin-top: 20px;
}
.btnsubmit:hover,
.btnsubmit:focus {
  color: cornsilk;
}
